# dependencies
/data/node_modules
/data/shapefiles
/data/source

/data/package-lock.json
/data/pcs-id.json
/data/pcs.geojson
/data/pcs.ndjson
/data/pcs_id.mbtiles
/data/pcs-id.json
/data/pcs-id.ndjson
/data/pcs_no_linebreaks.geojson
/data/regions-id.json
/data/regions-id.ndjson
/data/regions.geojson
/data/regions.ndjson
/data/regions_id.mbtiles
/data/regions_no_linebreaks.geojson

/data/pumas-id.json
/data/pumas_4326.geojson
/data/pumas.geojson
/data/pumas.ndjson
/data/pumas_id.mbtiles
/data/pumas-id.json
/data/pumas-id.ndjson
/data/pumas_no_linebreaks.geojson
/data/cities_4326.geojson
/data/cities-id.json
/data/cities.geojson
/data/cities.ndjson
/data/cities_id.mbtiles
/data/cities-id.json
/data/cities-id.ndjson
/data/cities_no_linebreaks.geojson
/data/*.mbtiles
/data/**.xls
/data/**.xlsx
/data/*.Rmd
/data/*.html
/data/makeFinalDatasets.R
/data/data.Rproj

.DS_Store
.Rhistory
.Rproj.user

*.docx
contract stuff/

css/style.css.map

*.jpg

js/uk-financial-health-main.js